@import "../../../node_modules/bootstrap/scss/functions";

$bs-nav-link-padding-y: .75rem;

.sidebar_nav_link {
  //padding: .75rem 1rem;
  padding: .75rem 1rem .75rem 1.25rem;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expand_horizontal {
  transition: width .35s ease;
}

.max {
  width: 280px;
}

.min {
  width: 4rem;
}
