<nav class="h-100 d-flex flex-column flex-shrink-0 p-2 text-bg-dark expand-horizontal {{(isCollapsed)?'min':'max'}}">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" *ngFor="let linkInfo of navLinks">
      <!-- routerLinkActive specifies the CSS class(es) to add when the router activates the associated route -->
      <a routerLink="{{linkInfo.routerLink}}" class="nav-link text-white" routerLinkActive="active" aria-current="page">
        <i class="bi {{linkInfo.iconClass}} {{(isCollapsed)?'':'me-2'}}" style="font-size: 1rem;"></i>
        @if (!isCollapsed) {
          {{linkInfo.displayText}}
        }
      </a>
    </li>
  </ul>
</nav>
