.note {
  background: transparent;
  border-radius: 8px;
  box-sizing: border-box;
  //display: block;
}

.note_padding {
  padding: 12px 16px 12px 16px;
}

.note_title {
  font-size: 16px;
  padding-bottom: 0px;
}

.note_body {
  font-size: 14px;
}

.note_compose {
  margin: 16px auto 16px auto;
  width: 600px;
}

.note_compose_text {
  background: transparent;
  border: solid 1px var(--border-color);
  border-radius: 8px;
  box-sizing: border-box;
  caret-color: auto;
  color: #EEE;
  margin-bottom: 10px;
  padding: 10px 15px;
  text-wrap: wrap;
  width: 100%;
}

.note_grid {
  display: block;
  direction: ltr;
  position: relative;
}

.note_grid_item {
  display: block;
  position: relative;
  margin: 16px;
  width: 240px;
}

.note_create {
  position: relative;
}

.note_edit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note_photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

section.note a {
  padding-left: 20px;
  text-decoration: none;
  color: var(--primary-color);
}

section.note a::after {
  content: "\203A";
  margin-left: 5px;
}
